.App {
  text-align: center;
  position: relative; /* Allows for absolute positioning within */
  min-height: 100vh; /* Ensures full viewport height */
  
  /* Background images */
  background-image: url('/public/left-bg.svg'), url('/public/right-bg.svg'); /* Replace with actual paths */
  background-position: top left, top right; /* Positions images in top corners */
  background-repeat: no-repeat; /* No repeating of images */
  background-size: 50% auto, 60% auto; /* Makes left image larger than the right */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
